*{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;*/
    font-family: 'Roboto', sans-serif;
}

p, span h1, h2{
    font-family: 'Roboto', sans-serif;
}

p{
    font-weight: 300;
    font-size: 16px;
}

body{
    background: linear-gradient(180deg, rgba(116, 50, 186, 0.5) 0%, rgba(25, 205, 157, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer {
    display: grid;
    grid-gap: 10px;
    margin-top: 40px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }

  .hide{
    display: none;
    opacity: 0;
}

.weather-card{  
    border: solid 3px yellow;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(116, 50, 186, 0.6) 0%, rgba(25, 205, 157, 0.6)100%);
    text-align: center;
    min-width: 250px;
}


.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg {  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#search-input{
    text-align: center;
    margin-top: 60px;
    padding: 3px 5px;
    border-radius: 3px;
    border: none;
}

.timeAndSearchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time {
    margin-top: 10px;
}

.button{
    padding: 3px 15px;
    border-radius: 3px;
    border: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.extra-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid rgba(65, 64, 64, 0.8);
}

.box {
    padding: 10px;
}

