*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span h1, h2{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

body{
    background: linear-gradient(180deg, rgba(116, 50, 186, 0.5) 0%, rgba(25, 205, 157, 0.5));
}

.gridContainer {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,3fr));
  }

.hide{
    display: none;
    opacity: 0;
}

.weather-card{  
    border: solid 3px yellow;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(116, 50, 186, 0.9) 0%, rgba(25, 205, 157, 0.6)100%);
    text-align: center;
    min-width: 200px;
}

.labelNumber {
    position: absolute; 
    margin-left: -150px;
    margin-top: -20px;
    float: top;
    padding: 5px 10px;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    background-color:rgba(117, 51, 188, 0.5);
    color:whitesmoke;
    font-size: 16px;
    border-radius: 5px;
  }
  
.search-section{
    min-width: inherit;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.bg {  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}

.filter{
    background-repeat: no-repeat;
    width: 100%;
    min-width: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(116, 50, 186, 0.4) 0%, rgba(25, 205, 157, 0.4)100%);
}

#search-input{
    text-align: center;
    margin-top: 60px;
    padding: 3px 3px;
    border-radius: 3px;
    border: none;
}

.timeAndSearchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time {
    margin-top: 10px;
}

.button{
    padding: 3px 15px;
    border-radius: 3px;
    border: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.astro {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 5px;
}

.extra-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid rgba(65, 64, 64, 0.8);
}

.box {
    padding: 10px;
}

